<div role="main" class="container main">
    <div class="row" id="likes-app">
        <% for(var i=0 ; i < posts.length; i++) { %>
        <div class="col-md-3">
            <div class="idea-card">
                <div class="idea-card-head">
                    <img class="rounded-circle article-img" src="<%=posts[i].author.profile.avatar%>" alt="">
                    <a class="mr-2" href="/profile/<%=posts[i].author.id%>"><%= posts[i].author.fullName %></a>
                </div>
                <div class="idea-card-body">
                    <p class="card-text"><a class="article-title"
                            href="/ideas/<%=posts[i].id%>"><%= posts[i].title %></a>
                    </p>
                </div>
                <div class="idea-card-bottom">
                    <small class="text-muted"><%= posts[i].createdAt %></small>
                    <likes-button :likes="<%= posts[i].likes.length %>" :id="<%= posts[i].id %>"
                        :liked="<%= posts[i].liked %>"></likes-button>
                </div>
            </div>
        </div>
        <% }%>
    </div>
</div>
<%- exposeLocalsToBrowser() %>
<% block('localScripts', `
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/js/pages/post/likes-app.js"></script>
`) %>