<main role="main" class="container main">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="<%= user.profile.avatar %>">
                    <div class="media-body">
                        <h2 class="account-heading"><%= user.fullName %></h2>
                        <p class="text-secondary"><%= user.profile.role %></p>
                        <p class="text-secondary"><%= user.profile.about %></p>
                        <div class="alert alert-primary" role="alert">
                            <%= user.fullName %> a proposé <%= user.posts.length %> idées de startup !
                        </div>
                        <a href="/user/posts/1" class="btn btn-outline-info">
                            Découvrir ses idées !
                        </a>
                        <% if(me) { %>
                        <form action="/rooms/<%= user.id %>" method="POST">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                            <button type="submit" class="btn btn-outline-info">
                                Envoyer un message
                            </button>
                        </form>
                        <% } else {  %>
                        <div class="alert alert-primary" role="alert">
                            Connectez-vous pour envoyer un message à <%= user.fullName %>.
                        </div>
                        <% }  %>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>